@import 'https://fonts.googleapis.com/css?family=Alfa+Slab+One';


#track{
  padding-top: 50px;
  padding-bottom:  50px;
}




 #theCarousel{
   height:200px;

 }

 #MoreNews{
   margin:30px;
   margin-left:0px;
 }
 .carousel-control.left, .carousel-control.right {
     background-image: none
 }

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  font-family: 'Alfa Slab One', cursive;
}

#logo{
  width:200px;
}
.jumb{
  h1{
  color:#cdcdcd;
}
p{
  color: silver;
}
}
.carousel-indicators{
  margin-bottom: 0px;
}
nav{
font-family: 'Alfa Slab One', cursive;
  background: linear-gradient(to bottom,  black,  #2B2B2B);
  .logo{
    height: 50px;
    padding:0px;
    margin: 0px;

  }
}
.div-car{
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
        text-align: center;

        padding-top: 130px;
    }
}
}

.div-car{
height:400px;
.jumb{
  position: absolute;
  top:250px;
  width: 100%;
  padding:20px;
  height: 200px;
background-color:rgba(0, 0, 0, 0.5);
color: white;
}
}


html,
body,
.div-car{
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Alfa Slab One', cursive;

}
#main{
.item:nth-child(1) {
    background-image: url("../images/im1.jpg");
    .jumb{
      h1{
        visibility:visible;
      }
      p{
        visibility:visible;
      }
    }
}

.item:nth-child(2) {
    background-image: url("../images/im5.jpg");
    .jumb{
      h1{
        content: 'New Tshirts';
      }
      p{
        content: 'order now';
      }
    }
}

.item:nth-child(3) {
    background-image: url("../images/im6.jpg");
    .jumb{
      h1{
        content: 'New Tshirts';
      }
      p{
        content: 'order now';
      }
    }
}
}
}
